# =========================
# Virtual environments
# =========================
venv/
.env
*.env
.env.*

# =========================
# Python cache & compiled
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Django
# =========================
db.sqlite3
*.sqlite3
media/
staticfiles/
*.log
*.pot
*.mo


# =========================
# Frontend (React / Vite)
# =========================
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*

# =========================
# Testing & coverage
# =========================
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# =========================
# IDE & OS files
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.swp
*.tmp

complaint_tracker/settings/prod.py
.env